<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="lib/bootstrap/css/*.min.css" rel="stylesheet" />
</head>
<body>
    @RenderSection("Header")
    <div class="bg-info">
        This is part of the layout
    </div>

    @RenderSection("Body")

    <div class="bg-info">
        This is part of the layout
    </div>


    @if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer")
    }
    else
    {

        <h4>This is the default footer</h4>
    }


    @if (IsSectionDefined("Script"))
    {
        @RenderSection("Script")
    }
    else
    {

        <h4>This is the default Script</h4>
    }


    <div class="bg-info">
        This is part of the layout
    </div>
</body>
</html>
